@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
body{
    background: url('assets/rectangle.png');
    background-size: cover;
    background-repeat: repeat;
}

section{
    margin-top: 100px;
    margin-bottom: 100px;
}

h1, h2, h3, h4, h5, a{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-weight: 700;
}

h2{
    font-weight: 700;
}

.hyperlink{
    color: rgb(196, 196, 196);
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #715739 50%);
}

.hyperlink:hover{
    color: white;
    background: #715739;
    text-decoration: none;
}


p,blockquote-footer{
    color: rgb(196, 196, 196);
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
}

.header-text{
    font-size: 14pt; 
}

.blog-text{
    font-size: 12pt;
}

.main{
    padding-top: 40px;
    padding-bottom: 40px;
}

.logo{
    max-width: 200px;
}

.happy-team{
    width: 600px;
}

/* NAVIGATION */

.nav{
    margin-top: 80px;
}

.nav-link{
    color: white;
    font-size: 13pt;
}